/* popup */
 
.CoverPop-open,
.CoverPop-open body {
    height: 100%;
    overflow: hidden;
}
#CoverPop-cover {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-animation: fade-in .25s ease-in;
    -moz-animation-name: fade-in .25s ease-in;
    -ms-animation-name: fade-in .25s ease-in;
    -o-animation-name: fade-in .25s ease-in;
    animation-name: fade-in .25s ease-in;
}
.CoverPop-open #CoverPop-cover {
    display: block;
}
@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}
.splash {
    background-color: rgb(47,99,135);
    background-color: rgba(47,99,135,.9);
}
.splash-center {
    text-align: center;
    width: 100%;
    max-width  :500px;
    /* padding: 20px; */
    background: black;
    margin: 8% auto 0;


}
.header-nav{
    z-index:40; position:relative;
} 
#nav{ 
    z-index: 40;
}
  
.splash{
    background-color: rgba(0,0,0,0.9);
}   

.CoverPop-content.splash-center > a {
    float: right;
    background-color: #fecb02;
    padding: 5px 10px;
    margin-bottom: -10px;
    z-index : 99;
    position : relative;
    color: white;
    text-decoration: none;
    font-size:18px;
}

.myContainer { 
    font-family: helvetica, sans-serif;
    padding: 20px;
}


div#CoverPop-cover #mcFormHolder input#mc-embedded-subscribe {
    font-size: 16px !important;
}
.myContainer h4 {
    font-size: 13px;
}
.myContainer p{
    font-weight:bold;
    color: white;
    font-size:24px;
    text-align: center;
}
.myContainer img {
    width:100%;
}
.myContainer .name{
    float:left;
    width:50%;

}

.dwsPopupFirstColumn > div:nth-child(2) {
    margin-top: 20px;
}
.dwsPopupFirstColumn > div:nth-child(6) {
    margin-top: -20px;
}
.dwsPopupFirstColumn > div:nth-child(6) h5{
    font-size : 12px;
}  
/* popup - end */



/* MailChimp Form Embed Code - Slim - 08/17/2011 */
.myContainer #mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
.myContainer #mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
.myContainer #mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
.myContainer #mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
.myContainer #mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
.myContainer #mc_embed_signup input:focus {border-color:#333;}
.myContainer #mc_embed_signup .button {clear:both; background-color: #fecb02; border: 0 none;  color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 50px; line-height: 32px; margin: 0 5px 5px 0; padding:10px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
.myContainer #mc_embed_signup .button:hover { border: 1px solid #fecb02; background-color:black; color: #fecb02;}
.myContainer #mc_embed_signup .small-meta {font-size: 11px;}
.myContainer #mc_embed_signup .nowrap {white-space:nowrap;}     
.myContainer #mc_embed_signup .clear {clear:none; display:inline;}

.myContainer #mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
.myContainer #mc_embed_signup input.email, #mc_embed_signup input.text  {display:block; padding:15px 0; text-indent:5px; width:100%; min-width:130px; border: none!important; margin-bottom:10px; text-align:center;}
 
       

.myContainer #mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
.myContainer #mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
.myContainer #mc_embed_signup #mce-error-response {display:none;}
.myContainer #mc_embed_signup #mce-success-response {color:#529214; display:none;}
.myContainer #mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}